
* {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
}
.no-decoration, a:link, a:visited {
  text-decoration: none;
  color: #EEEEEE;
}



@media only screen and (max-width: 1000px)
{
  .top-menu-container{display:none;}
  .navbar-laptop{display:none;}
  .tours-top-banner-info{display:none;}
  .navbar {
    overflow: hidden;
    background-color: black;
    font-family: "Oswald";
    font-weight: bold;
    font-size: 18px;
  }
  
  .navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    padding: 10px 30px;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;  
    font-weight: inherit;
    margin: 0;
  }
  .navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 9px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
  }
  .hero-text {
    color: white;
    font-family: "Barlow Condensed";
    font-size: 28px;
    padding: 10%;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 3px black;
  }
  .hero-image-home {
    background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1758201111/tiggy_profile_1_gd5nz8.jpg");
    background-size: cover ;
    height: 350px;
  }

  .writeup-title {
    font-family: "Barlow Condensed";
    font-size: 30px;
    text-align: left; 
    color: #303236;
  }

  .writeup-block-for-text{
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  }
  #tours-title {
    background-color: white;
    color: #1e2024;
    text-align: center ;
    height:50px;
    width: 100%;
    font-size: 30px;
    font-family: "Barlow Condensed";
    font-weight: bold;
    text-transform: uppercase;
  }
  .hero-text-2 {
    color: white;
    font: "barlow-condensed-semibold";
    font-size: 40px;
    padding: 5% 5% 1% 5%;
    text-align: left;
    text-transform: uppercase;
    text-shadow: 0 2px black;
  }
  .hero-image-yorkshire-dales {
    background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744569598/yorkshire_dales_fv0iih.jpg");
    background-size: cover ;
    height: 350px;
  }
  .hero-image-north-york-moors {
    background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744542628/north_york_moors_yoxyqz.jpg");
    background-size: cover ;
    height: 350px;
  }
  .hero-image-yorkshire-coast {
    background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744568704/yorkshire_coast_z5hotr.jpg");
    background-size: cover ;
    height: 350px;
  }
  .hero-image-lake-district {
    background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744536533/lake_district_cawcoa.jpg");
    background-size: cover ;
    height: 350px;
  }
  .hero-image-peak-district {
    background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744548820/peak_district_ifvkth.jpg");
    background-size: cover ;
    height: 350px;
  }
  .hero-image-wales {
    background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744565823/wales_drrq7d.jpg");
    background-size: cover ;
    height: 350px;
  }
  .hero-image-northumberland {
    background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744547445/northumberland_lb1acr.jpg");
    background-size: cover ;
    height: 350px;
  }
  .hero-image-cornwall {
    background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744400783/cornwall_n2anz6.jpg");
    background-size: cover ;
    height: 350px;
  }
  .hero-image-durham {
    background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744387283/teesdale_2018_09_high_force_profilepic_ttien4.jpg");
    background-size: cover ;
    height: 350px;
  }
  .hero-image-teesside {
    background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1746385580/teesside_awtvdw.jpg");
    background-size: cover ;
    height: 350px;
    background-position: center 70%;
  }
  
    

  .tours-top-banner {
    height: 350px;
    background-size: cover;
  }
  .tours-top-banner-info{
    display: inline-block;
    font-family: "Barlow Condensed";
    color: rgb(11, 102, 102);
    background-color: rgba(238, 238, 238, 0.884);
    text-align: left;
    text-transform: uppercase;
    margin-left: 5%;
    margin-top: 120px;
    padding: 1px 5px 6px 5px;
    font-size: 16px;
    line-height: 1;
    width: 170px;
    opacity: 0.75;
  }
}


@media (min-width: 1001px) and (max-width: 1500px)
{
  .top-menu-container{display:none;}
  .navbar{display:none;}
  .navbar-laptop {
    overflow: hidden;
    background-color: black;
    font-family: "Oswald";
    font-weight: bold;
    font-size: 15px;
    padding-left: 30px;
    width: 100%;
  }
  
  .navbar-laptop a {
    float: left;
    color: white;
    text-align: center;
    padding: 10px 25px;
    text-decoration: none;
  }
  
  .dropdown-laptop {
    float: left;
    overflow: hidden;
  }
  
  .dropdown-laptop .dropbtn-laptop {
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    padding: 10px 30px;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;  
    font-weight: inherit;
    margin: 0;
  }
  .navbar-laptop a:hover, .dropdown-laptop:hover .dropbtn-laptop, .dropbtn-laptop:focus {
    background-color: red;
  }
  
  .dropdown-laptop-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-laptop-content a {
    float: none;
    color: black;
    padding: 9px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-laptop-content a:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
  }
  
  .hero-text {
    color: white;
    font-family: "Barlow Condensed";
    font-size: 70px;
    padding: 12%;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 2px black;
  }
  .hero-text-2 {
    color: white;
    font: "barlow-condensed-semibold";
    font-size: 80px;
    padding: 5% 5% 1% 5%;
    text-align: left;
    text-transform: uppercase;
    text-shadow: 0 2px black;
  }
  .hero-image-home {
    width: 100%;
    height: 550px;
    background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1758201111/tiggy_profile_1_gd5nz8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 60%;
    overflow: hidden;
  }
  .hero-image-yorkshire-dales {
    height: 550px;
    background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744569598/yorkshire_dales_fv0iih.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 97%;
    overflow: hidden;
  }
  .hero-image-north-york-moors {
    height: 550px;
    background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744542628/north_york_moors_yoxyqz.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 65%;
    overflow: hidden;
  }
  .hero-image-yorkshire-coast {
    height: 550px;
    background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744568704/yorkshire_coast_z5hotr.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 55%;
    overflow: hidden;
  }
  .hero-image-lake-district {
    height: 550px;
    background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744536533/lake_district_cawcoa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 60%;
    overflow: hidden;
  }
  .hero-image-peak-district {
    height: 550px;
    background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744548820/peak_district_ifvkth.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 40%;
    overflow: hidden;
  }
  .hero-image-wales {
    height: 550px;
    background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744565823/wales_drrq7d.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 91%;
    overflow: hidden;
  }
  .hero-image-northumberland {
    height: 550px;
    background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744547445/northumberland_lb1acr.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 60%;
    overflow: hidden;
  }
  .hero-image-cornwall {
    height: 550px;
    background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744400783/cornwall_n2anz6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 100%;
    overflow: hidden;
  }
  .hero-image-durham {
    height: 550px;
    background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744387283/teesdale_2018_09_high_force_profilepic_ttien4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 100%;
    overflow: hidden;
  }
  .hero-image-teesside {
    height: 550px;
    background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1746385580/teesside_awtvdw.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 100%;
    overflow: hidden;
  }

  #tours-title {
    background-color: white;
    color: #1e2024;
    text-align: center ;
    height:50px;
    width: 100%;
    font-size: 35px;
    font-family: "Barlow Condensed";
    font-weight: bold;
    text-transform: uppercase;
  }

  .writeup-title {
    font-family: "Barlow Condensed";
    font-size: 40px;
    text-align: left; 
    color: #303236;
  }
  .writeup-block-for-text{
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    }
    .tours-top-banner {
      height: 500px;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      overflow: hidden;
    }
    
    .tours-top-banner-info{
      display: inline-block;
      font-family: "Barlow Condensed";
      color: rgb(11, 102, 102);
      background-color: rgba(238, 238, 238, 0.884);
      text-align: left;
      text-transform: uppercase;
      margin-left: 5%;
      margin-top: 100px;
      padding: 10px 10px 15px 15px;
      font-size: 24px;
      width: 300px;
      opacity: 0.75;
    }
}


@media (min-width: 1501px)
{
  .navbar{display:none;}
  .navbar-laptop{display:none;}

.writeup-block-for-text{
  display: block;
  margin-left: 20%;
  margin-right: 20%;
  }
h1
  {
  font-size: 200px;
  }
  .top-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-family: "Oswald";
    font-weight: bold;
    padding: 9px;
    background-color: black;
    gap: 3%;
    position: fixed;
    width: 100%;
    z-index:99;
  }
  .hero-text {
    color: white;
    font-family: "Barlow Condensed";
    font-size: 160px;
    padding: 5%;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 2px black;
  }

  .tours-container {
    background-color: white;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0% 5%;
  }
  #tours-title {
    background-color: white;
    color: #1e2024;
    text-align: center ;
    height:50px;
    width: 100%;
    font-size: 40px;
    font-family: "Barlow Condensed";
    font-weight: bold;
    text-transform: uppercase;
  }
  .hero-text-2 {
    color: white;
    font: "barlow-condensed-semibold";
    font-size: 100px;
    padding: 5% 5% 1% 5%;
    text-align: left;
    text-transform: uppercase;
    text-shadow: 0 2px black;
  }
  
.hero-image-home {
  width: 100%;
  height: 700px;
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1758201111/tiggy_profile_1_gd5nz8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 60%;
  overflow: hidden;
}
.hero-image-yorkshire-dales {
  height: 700px;
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744569598/yorkshire_dales_fv0iih.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 97%;
  overflow: hidden;
}
.hero-image-north-york-moors {
  height: 700px;
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744542628/north_york_moors_yoxyqz.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 65%;
  overflow: hidden;
}
.hero-image-yorkshire-coast {
  height: 700px;
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744568704/yorkshire_coast_z5hotr.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 55%;
  overflow: hidden;
}
.hero-image-lake-district {
  height: 700px;
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744536533/lake_district_cawcoa.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 60%;
  overflow: hidden;
}
.hero-image-peak-district {
  height: 700px;
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744548820/peak_district_ifvkth.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 40%;
  overflow: hidden;
}
.hero-image-wales {
  height: 700px;
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744565823/wales_drrq7d.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 91%;
  overflow: hidden;
}
.hero-image-northumberland {
  height: 700px;
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744547445/northumberland_lb1acr.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 60%;
  overflow: hidden;
}
.hero-image-cornwall {
  height: 700px;
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744400783/cornwall_n2anz6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 100%;
  overflow: hidden;
}
.hero-image-durham {
  height: 700px;
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744387283/teesdale_2018_09_high_force_profilepic_ttien4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 100%;
  overflow: hidden;
}
.hero-image-teesside {
  height: 700px;
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1746385580/teesside_awtvdw.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 80%;
  overflow: hidden;
}

.writeup-title {
  font-family: "Barlow Condensed";
  font-size: 40px;
  text-align: left; 
  color: #303236;
}

.tours-top-banner {
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

.tours-top-banner-info{
  display: inline-block;
  font-family: "Barlow Condensed";
  color: rgb(11, 102, 102);
  background-color: rgba(238, 238, 238, 0.884);
  text-align: left;
  text-transform: uppercase;
  margin-left: 5%;
  padding: 10px 10px 15px 15px;
  font-size: 24px;
  width: 300px;
  opacity: 0.75;
}
}


#whitespace {
  background-color: white;
  height:30px;
  width: 100%;
}
#whitespace-short {
  background-color: white;
  height:10px;
  width: 100%;
}


li {
  list-style: none;
}

.barlow-condensed-thin {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.barlow-condensed-extralight {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.barlow-condensed-light {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.barlow-condensed-regular {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-condensed-medium {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-condensed-semibold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.barlow-condensed-bold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.barlow-condensed-extrabold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.barlow-condensed-black {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.barlow-condensed-thin-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.barlow-condensed-extralight-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.barlow-condensed-light-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.barlow-condensed-regular-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.barlow-condensed-medium-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.barlow-condensed-semibold-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.barlow-condensed-bold-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.barlow-condensed-extrabold-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.barlow-condensed-black-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.oswald-regular> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 15px;
  font-style: normal;
}

.tours-container {
  background-color: white;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3.5rem;
}

.tours-thumbnail-box{
  width: 400px;
  height: 250px;
  padding: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.tours-thumbnail-box-small{
  width: 300px;
  height: 187px;
  padding: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.tours-title {
  font-family: "Barlow Condensed";
  color: black;
  text-align: left;
  text-transform: uppercase;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  font-size: 22px;
}
.tours-title span {
  background-color: rgba(238, 238, 238, 0.884);
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  opacity: 0.9;

}
.tours-title-small {
  font-family: "Barlow Condensed";
  color: black;
  background-color: rgba(238, 238, 238, 0.884);
  text-align: left;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  opacity: 0.75;
}

.tours-top-banner-info-title{
  display: inline-block;
  color: #393E46;
  padding-top: 5px;
  margin-left: 5px;
  
}

.writeup-text {
  font-family: "Barlow Condensed";
  font-size: 20px;
  text-align: left; 
  color: black;
}


.tours-yorkshire_dales_2025_07_old_gang_smelting_mill {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1757083348/yorkshire_dales_2025_07_old_gang_smelting_mill_profilepic_x5zyxa.jpg");
  background-position: center 55%;
}
.tours-yorkshire_dales_2025_03_penhill {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744631813/yorkshire_dales_2025_03_penhill_profilepic_t5kajr.jpg");
  background-position: center 5%;
}
.tours-yorkshire_dales_2024_08_semerwater {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744631801/yorkshire_dales_2024_08_semerwater_profilepic_cebb2w.jpg");
  background-position: center 95%;
}
.tours-yorkshire_dales_2024_08_aysgarth_falls {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744631572/yorkshire_dales_2024_08_aysgarth_falls_profilepic_krlq0x.jpg");
  background-position: center center;
}
.tours-yorkshire_dales_2023_08_cauldron_falls {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744624132/yorkshire_dales_2023_08_cauldron_falls_profilepic_gzv8gp.jpg");
  background-position: center center;
}
.tours-yorkshire_dales_2022_09_surrender_mine {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744620762/yorkshire_dales_2022_09_surrender_mine_profilepic_e66asa.jpg");
  background-position: center center;
}
.tours-yorkshire_dales_2022_07_malham_cove {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744573992/yorkshire_dales_2022_07_malham_cove_profilepic_gh5tu5.jpg");
  background-position: center center;
}
.tours-yorkshire_dales_2023_08_jervaulx_abbey {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744624138/yorkshire_dales_2023_08_jervaulx_abbey_profilepic_nwcp50.jpg");
  background-position: center center;
}
.tours-yorkshire_dales_2023_08_preston_under_scar {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744626356/yorkshire_dales_2023_08_preston_under_scar_profilepic_hb5d4v.jpg");
  background-position: center center;
}
.tours-yorkshire_dales_2023_07_egglestone_abbey {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744620762/yorkshire_dales_2023_07_egglestone_abbey_profilepic_gashdn.jpg");
  background-position: center center;
}
.tours-yorkshire_dales_2022_09_healaugh {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744620751/yorkshire_dales_2022_09_healaugh_profilepic_qshosm.jpg");
  background-position: center center;
}
.tours-yorkshire_dales_2022_08_keld_waterfalls {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744573994/yorkshire_dales_2022_08_keld_waterfalls_profilepic_ehs6cw.jpg");
  background-position: center center;
}
.tours-yorkshire_dales_2022_07_druids_temple {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1757076193/yorkshire_dales_2022_07_druids_temple_profilepic_obflxb.jpg");
  background-position: center center;
}
.tours-yorkshire_dales_2022_05_easby_abbey {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744572550/yorkshire_dales_2022_05_easby_abbey_profilepic_w0hrut.jpg");
  background-position: center center;
}
.tours-yorkshire_dales_2019_08_fountains_abbey {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744569610/yorkshire_dales_2019_08_fountains_abbey_profilepic_vpmbfq.jpg");
  background-position: center center;
}
.tours-yorkshire_dales_2019_09_white_scar_cave {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744572524/yorkshire_dales_2019_09_white_scar_cave_profilepic_czokwk.jpg");
  background-position: center center;
}
.tours-yorkshire_dales_2019_09_buttertubs {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744569613/yorkshire_dales_2019_09_buttertubs_profilepic_xyqk9z.jpg");
  background-position: center center;
}
.tours-yorkshire_dales_2024_05_middleham_castle {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744626358/yorkshire_dales_2024_05_middleham_castle_profilepic_annhap.jpg");
  background-position: center center;
}
.tours-yorkshire_dales_2022_08_the_himalayan_garden {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744393976/yorkshire_dales_2022_08_the_himalayan_garden_profilepic_wmdsej.jpg");
  background-position: center center;
}


.tours-yorkshire_coast_2025_07_saltburn_to_skinningrove {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1752586018/yorkshire_coast_2025_07_saltburn_to_skinningrove_profilepic_onyi4v.jpg");
  background-position: center 50%;
}

.tours-yorkshire_coast_2025_06_skinningrove_to_mars {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1751541645/yorkshire_coast_2025_06_skinningrove_to_mars_profilepic_uxxkkk.jpg");
  background-position: center 1%;
}
.tours-yorkshire_coast_2025_01_saltburn {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744568716/yorkshire_coast_2025_01_saltburn_profilepic_zr9dhi.jpg");
  background-position: center center;
}
.tours-yorkshire_coast_2024_02_runswick_bay_to_staithes {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744568707/yorkshire_coast_2024_02_runswick_bay_to_staithes_profilepic_s6m1se.jpg");
  background-position: center center;
}
.tours-yorkshire_coast_2024_08_saltburn_trig_point {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744568708/yorkshire_coast_2024_08_saltburn_trig_point_profilepic_xkzsf9.jpg");
  background-position: center center;
}
.tours-yorkshire_coast_2023_02_kettleness {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744568706/yorkshire_coast_2023_02_kettleness_profilepic_wfapx8.jpg");
  background-position: center center;
}

.tours-peak_district_2024_08_bomber {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744548827/peak_district_2024_08_bomber_profilepic_h3jahu.jpg");
  background-position: center center;
}

.tours-wales_2024_09_monmouth_river_walk {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744565909/wales_2024_09_monmouth_river_walk_profilepic_cp1c6d.jpg");
  background-position: center center;
}
.tours-wales_2024_06_devils_kitchen {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744565876/wales_2024_06_devils_kitchen_profilepic_tnmu0i.jpg");
  background-position: center 1%;
}
.tours-wales_2024_06_porth_wen {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744565906/wales_2024_06_porth_wen_profilepic_lgixwx.jpg");
  background-position: center 95%;
}
.tours-wales_2024_06_maes_yr_hendre_cottage {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744565889/wales_2024_06_maes_yr_hendre_cottage_profilepic_xwps39.jpg");
  background-position: center 95%;
}
.tours-wales_2024_06_betws_y_coed_river_walk {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744565840/wales_2024_06_betws_y_coed_river_walk_profilepic_w70mrk.jpg");
  background-position: center 95%;
}
.tours-wales_2024_06_bodnant_garden {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744565864/wales_2024_06_bodnant_garden_profilepic_ywifrd.jpg");
  background-position: center 95%;
}
.tours-wales_2024_06_aber_falls {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744565838/wales_2024_06_aber_falls_profilepic_pg600w.jpg");
  background-position: center 1%;
}
.tours-wales_2023_09_monmouth {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744565831/wales_2023_09_monmouth_profilepic_z2oqhe.jpg");
  background-position: center center;
}
.tours-wales_2023_01_monmouth {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744565829/wales_2023_01_monmouth_profilepic_eciojp.jpg");
  background-position: center center;
}

.tours-wales_2021_10_elan_valley {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744565828/wales_2021_10_elan_valley_profilepic_wp7i8c.jpg");
  background-position: center center;
}

.tours-north_york_moors_2025_08_hasty_bank_wainstones {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1757361598/north_york_moors_2025_08_hasty_bank_wainstones_profilepic_rngzie.jpg");
  background-position: center 1%;
}
.tours-north_york_moors_2025_08_grange_bride_stones {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1757187578/north_york_moors_2025_08_grange_bride_stones_profilepic_zydvl0.jpg");
  background-position: center 60%;
}
.tours-north_york_moors_2025_08_chop_gate_urra_moor {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1757100663/north_york_moors_2025_08_chop_gate_urra_moor_profilepic_oj0pfm.jpg");
  background-position: center 60%;
}
.tours-north_york_moors_2025_07_chop_gate_nab_end_moor {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1757088188/north_york_moors_2025_07_chop_gate_nab_end_moor_profilepic_q8efz0.jpg");
  background-position: center 35%;
}
.tours-north_york_moors_2024_11_lordstones_loop {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744542677/north_york_moors_2024_11_lordstones_loop_profilepic_yktpyx.jpg");
  background-position: center 40%;
}
.tours-north_york_moors_2024_08_lordstones_big_loop {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744542670/north_york_moors_2024_08_lordstones_big_loop_profilepic_vjhxax.jpg");
  background-position: center 40%;
}
.tours-north_york_moors_2024_07_lordstones_small_loop {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744542659/north_york_moors_2024_07_lordstones_small_loop_profilepic_yppkbv.jpg");
  background-position: center 40%;
}
.tours-north_york_moors_2024_05_castleton {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744542657/north_york_moors_2024_05_castleton_profilepic_lqmyd9.jpg");
  background-position: center center;
}
.tours-north_york_moors_2024_06_danby {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744542660/north_york_moors_2024_06_danby_profilepic_tp4agy.jpg");
  background-position: center center;
}
.tours-north_york_moors_2024_08_lordstones_peaks {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744542672/north_york_moors_2024_08_lordstones_peaks_profilepic_e1twpf.jpg");
  background-position: center 1%;
}
.tours-north_york_moors_2023_09_bilsdale {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744542656/north_york_moors_2023_09_bilsdale_profilepic_cemy6w.jpg");
  background-position: center 1%;
}
.tours-north_york_moors_2023_08_chop_gate_urra {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744542628/north_york_moors_yoxyqz.jpg");
  background-position: center 1%;
}
.tours-north_york_moors_2023_07_rosedale_big_loop {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744542655/north_york_moors_2023_07_rosedale_big_loop_profilepic_jjjnuc.jpg");
  background-position: center 1%;
}
.tours-north_york_moors_2023_06_blakey_loop {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744542647/north_york_moors_2023_06_blakey_loop_profilepic_qooiet.jpg");
  background-position: center 1%;
}
.tours-north_york_moors_2022_08_blakey_short_loop {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1748089343/north_york_moors_2022_08_blakey_short_loop_3_nabhsg.jpg");
  background-position: center 55%;
}

.tours-north_york_moors_2023_07_rosedale_loop {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744542655/north_york_moors_2023_07_rosedale_loop_profilepic_j4pj3m.jpg");
  background-position: center 1%;
}
.tours-north_york_moors_2023_07_rosedale_loop_short {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744542655/north_york_moors_2023_07_rosedale_loop_short_profilepic_klpyuq.jpg");
  background-position: center 1%;
}
.tours-north_york_moors_2023_06_rievaulx_abbey {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744542652/north_york_moors_2023_06_rievaulx_abbey_profilepic_prqo8d.jpg");
  background-position: center 1%;
}
.tours-north_york_moors_2023_05_wharrampercy {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744542647/north_york_moors_2023_05_wharrampercy_profilepic_ffmtq6.jpg");
  background-position: center 35%;
}
.tours-north_york_moors_2018_07_helmsley_castle {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744542635/north_york_moors_2018_07_helmsley_castle_profilepic_siqxmi.jpg");
  background-position: center 35%;
}
.tours-north_york_moors_2024_07_mount_grace_priory {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744542670/north_york_moors_2024_07_mount_grace_priory_profilepic_pyruqj.jpg");
  background-position: center 35%;
}

.tours-teesside_2025_04_eston_nab {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744379464/teesside_2025_04_eston_nab_profilepic_nodtux.jpg");
  background-position: center 55%;
}
.tours-teesside_2025_04_roseberry_topping_loop {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1746395784/teesside_2025_04_roseberry_topping_loop_profilepic_fp7yag.jpg");
  background-position: center 1%;
}
.tours-teesside_2025_05_guisborough_three_peaks {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1747589947/teesside_2025_05_guisborough_three_peaks_profilepic_z5iitb.jpg");
  background-position: center 1%;
}
.tours-teesside_2025_06_captain_cooks_monument {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1751541644/teesside_2025_06_captain_cooks_monument_profilepic_hpdhio.jpg");
  background-position: center 1%;
}

.tours-lake_district_2023_04_iona_cottage {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744536546/lake_district_2023_04_iona_cottage_profilepic_ifnisp.jpg");
  background-position: center center;
}
.tours-lake_district_2022_07_priests_hole {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744536534/lake_district_2022_07_priests_hole_profilepic_f3ngwu.jpg");
  background-position: center 5%;
}
.tours-lake_district_2023_04_haweswater {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744536539/lake_district_2023_04_haweswater_profilepic_e6ex7y.jpg");
  background-position: center 5%;
}
.tours-lake_district_2025_06_thirlmere_infinity_pool {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1751541644/lake_district_2025_06_thirlmere_infinity_pool_profilepic_xkhsdw.jpg");
  background-position: center 80%;
}
.tours-lake_district_2025_06_hell_gill {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1751541647/lake_district_2025_06_hell_gill_profilepic_zqxgb6.jpg");
  background-position: center 5%;
}


.tours-northumberland_2022_09_rothbury_restawhile {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744547482/northumberland_2022_09_rothbury_restawhile_profilepic_moqftm.jpg");
  background-position: center center;
}
.tours-northumberland_2021_09_castles_and_wall {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744547477/northumberland_2021_09_castles_and_wall_profilepic_rlbsli.jpg");
  background-position: center 20%;
}
.tours-northumberland_2018_08_holy_island {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744547458/northumberland_2018_08_holy_island_profilepic_hp1ar2.jpg");
  background-position: center 1%;
}
.tours-northumberland_2018_08_belsay_hall {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744547451/northumberland_2018_08_belsay_hall_profilepic_p7cg9b.jpg");
  background-position: center 60%;
}
.tours-northumberland_2019_06_bamburgh_castle {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744547466/northumberland_2019_06_bamburgh_castle_profilepic_izcqod.jpg");
  background-position: center 40%;
}
.tours-northumberland_2019_08_alnwick_castle {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744547471/northumberland_2019_08_alnwick_castle_profilepic_fjmknh.jpg");
  background-position: center 40%;
}


.tours-teesdale_2018_09_high_force {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744387283/teesdale_2018_09_high_force_profilepic_ttien4.jpg");
  background-position: center center;
}

.tours-cornwall_2018_07 {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744400838/cornwall_2018_07_profilepic_sc7ief.jpg");
  background-position: center 15%;
}
.tours-cornwall_2019_06 {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744400871/cornwall_2019_06_profilepic_qtjttd.jpg");
  background-position: center center;
}
.tours-cornwall_2018_07_edenproject {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744400834/cornwall_2018_07_edenproject_profilepic_betiy3.jpg");
  background-position: center center;
}


.tours-durham_2021_05_hurworth_burn_reservoir {
  background-image: url("https://res.cloudinary.com/dmy0c49mr/image/upload/v1744385995/durham_2021_05_hurworth_burn_reservoir_profilepic_jjxe4s.jpg");
  background-position: center center;
}


.imagecarousel {
  position: relative;
  height: 300px;
  margin-bottom: 30px;
  display: flex;
  width: fit-content;
  gap: 20px;
}

.imagecarousel img {
  margin: 0px 0px;
  box-shadow: 2px 2px 8px #8a8a8a;
}

.imagecarousel {
  animation: bannermove 30s linear infinite;
}

@keyframes bannermove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

#myInput {
  align-items: center;
  background-image: url('https://res.cloudinary.com/dmy0c49mr/image/upload/v1744552540/searchicon_jzflfc.png'); /* Add a search icon to input */
  background-position: 10px 14px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 300px; /* Full-width */
  font-family: "Barlow Condensed";
  font-size: 22px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 2px solid #ddd; /* Add a grey border */
  margin-bottom: 30px; /* Add some space below the input */
}

#myUL {
  /* Remove default list styling */
  background-color: white;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0%;
  list-style-type: none;
  margin: 0;
}

#myUL li a {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0%;
  list-style-type: none;
  margin: 0;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px; /* Add some padding */
  gap: 5px;
  text-decoration: none; /* Remove default text underline */
  color: black; /* Add a black text color */
  
}
