
* {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
}
.no-decoration, a:link, a:visited {
  text-decoration: none;
  color: #EEEEEE;
}

@media (min-width: 901px) and (max-width: 1500px)
{
  .top-menu-container{display:none;}
  .navbar{display:none;}

  .navbar-laptop {
    overflow: hidden;
    background-color: black;
    font-family: "Oswald";
    font-weight: bold;
    font-size: 16px;
    padding-left: 30px;
    width: 100%;
  }
  
  .navbar-laptop a {
    float: left;
    color: white;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
  }
  
  .dropdown-laptop {
    float: left;
    overflow: hidden;
  }
  
  .dropdown-laptop .dropbtn-laptop {
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    padding: 10px 30px;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;  
    font-weight: inherit;
    margin: 0;
  }
  .navbar-laptop a:hover, .dropdown-laptop:hover .dropbtn-laptop, .dropbtn-laptop:focus {
    background-color: red;
  }
  
  .dropdown-laptop-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-laptop-content a {
    float: none;
    color: black;
    padding: 9px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-laptop-content a:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
  }
  
  .hero-text {
    color: white;
    font-family: "Barlow Condensed";
    font-size: 70px;
    padding: 12%;
    text-align: center;
    text-transform: uppercase;
  }
  .hero-text-2 {
    color: white;
    font: "barlow-condensed-semibold";
    font-size: 80px;
    padding: 5% 5% 1% 5%;
    text-align: left;
    text-transform: uppercase;
    text-shadow: 0 2px black;
  }
  .hero-image-home {
    width: 100%;
    height: 550px;
    background-image: url("./images/tiggy_profile_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 60%;
    overflow: hidden;
  }
  .hero-image-yorkshire-dales {
    height: 550px;
    background-image: url("./images/yorkshire_dales.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 97%;
    overflow: hidden;
  }
  .hero-image-north-york-moors {
    height: 550px;
    background-image: url("./images/north_york_moors.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 65%;
    overflow: hidden;
  }
  .hero-image-yorkshire-coast {
    height: 550px;
    background-image: url("./images/yorkshire_coast.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 55%;
    overflow: hidden;
  }
  .hero-image-lake-district {
    height: 550px;
    background-image: url("./images/lake_district.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 60%;
    overflow: hidden;
  }
  .hero-image-peak-district {
    height: 550px;
    background-image: url("./images/peak_district.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 40%;
    overflow: hidden;
  }
  .hero-image-wales {
    height: 550px;
    background-image: url("./images/wales.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 91%;
    overflow: hidden;
  }
  .hero-image-northumberland {
    height: 550px;
    background-image: url("./images/northumberland.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 60%;
    overflow: hidden;
  }
  .hero-image-cornwall {
    height: 550px;
    background-image: url("./images/cornwall.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 100%;
    overflow: hidden;
  }
  #tours-title {
    background-color: white;
    color: #1e2024;
    text-align: center ;
    height:50px;
    width: 100%;
    font-size: 50px;
    font-family: "Barlow Condensed";
    font-weight: bold;
    text-transform: uppercase;
  }
  .writeup-block-for-text{
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    }
    .tours-top-banner {
      height: 500px;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      overflow: hidden;
    }
    
    .tours-top-banner-info{
      display: inline-block;
      font-family: "Barlow Condensed";
      color: rgb(14, 126, 126);
      background-color: rgba(238, 238, 238, 0.884);
      text-align: left;
      text-transform: uppercase;
      margin-left: 5%;
      padding: 10px 10px 15px 15px;
      font-size: 24px;
      width: 300px;
    }
}



@media only screen and (max-width: 900px)
{
  .top-menu-container{display:none;}
  .navbar-laptop{display:none;}
  .navbar {
    overflow: hidden;
    background-color: black;
    font-family: "Oswald";
    font-weight: bold;
    font-size: 18px;
  }
  
  .navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    padding: 10px 30px;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;  
    font-weight: inherit;
    margin: 0;
  }
  .navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 9px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
  }
  .hero-text {
    color: white;
    font-family: "Barlow Condensed";
    font-size: 30px;
    padding: 10%;
    text-align: center;
    text-transform: uppercase;
  }
  .hero-image-home {
    background-image: url("./images/tiggy_profile_1.jpg");
    background-size: cover ;
    height: 350px;
  }
.writeup-block-for-text{
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  }
  #tours-title {
    background-color: white;
    color: #1e2024;
    text-align: center ;
    height:50px;
    width: 100%;
    font-size: 30px;
    font-family: "Barlow Condensed";
    font-weight: bold;
    text-transform: uppercase;
  }
  .hero-text-2 {
    color: white;
    font: "barlow-condensed-semibold";
    font-size: 30px;
    padding: 5% 5% 1% 5%;
    text-align: left;
    text-transform: uppercase;
    text-shadow: 0 2px black;
  }
  .hero-image-yorkshire-dales {
    background-image: url("./images/yorkshire_dales.jpg");
    background-size: cover ;
    height: 350px;
  }
  .hero-image-north-york-moors {
    background-image: url("./images/north_york_moors.jpg");
    background-size: cover ;
    height: 350px;
  }
  .hero-image-yorkshire-coast {
    background-image: url("./images/yorkshire_coast.jpg");
    background-size: cover ;
    height: 350px;
  }
  .hero-image-lake-district {
    background-image: url("./images/lake_district.jpg");
    background-size: cover ;
    height: 350px;
  }
  .hero-image-peak-district {
    background-image: url("./images/peak_district.jpg");
    background-size: cover ;
    height: 350px;
  }
  .hero-image-wales {
    background-image: url("./images/wales.jpg");
    background-size: cover ;
    height: 350px;
  }
  .hero-image-northumberland {
    background-image: url("./images/northumberland.jpg");
    background-size: cover ;
    height: 350px;
  }
  .hero-image-cornwall {
    background-image: url("./images/cornwall.jpg");
    background-size: cover ;
    height: 350px;
  }
  .tours-top-banner {
    height: 350px;
    background-size: cover;
  }
  .tours-top-banner-info{
    display: inline-block;
    font-family: "Barlow Condensed";
    color: rgb(14, 126, 126);
    background-color: rgba(238, 238, 238, 0.884);
    text-align: left;
    text-transform: uppercase;
    margin-left: 5%;
    padding: 10px 10px 15px 15px;
    font-size: 14px;
    width: 150px;
  }
}


@media (min-width: 1501px)
{
  .navbar{display:none;}
  .navbar-laptop{display:none;}

.writeup-block-for-text{
  display: block;
  margin-left: 25%;
  margin-right: 25%;
  }
h1
  {
  font-size: 200px;
  }
  .top-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-family: "Oswald";
    font-weight: bold;
    padding: 9px;
    background-color: black;
    gap: 3%;
    position: fixed;
    width: 100%;
  }
  .hero-text {
    color: white;
    font-family: "Barlow Condensed";
    font-size: 160px;
    padding: 5%;
    text-align: center;
    text-transform: uppercase;
  }

  .tours-container {
    background-color: white;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0% 5%;
  }
  #tours-title {
    background-color: white;
    color: #1e2024;
    text-align: center ;
    height:50px;
    width: 100%;
    font-size: 40px;
    font-family: "Barlow Condensed";
    font-weight: bold;
    text-transform: uppercase;
  }
  .hero-text-2 {
    color: white;
    font: "barlow-condensed-semibold";
    font-size: 100px;
    padding: 5% 5% 1% 5%;
    text-align: left;
    text-transform: uppercase;
    text-shadow: 0 2px black;
  }
  
.hero-image-home {
  width: 100%;
  height: 700px;
  background-image: url("./images/tiggy_profile_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 60%;
  overflow: hidden;
}
.hero-image-yorkshire-dales {
  height: 700px;
  background-image: url("./images/yorkshire_dales.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 97%;
  overflow: hidden;
}
.hero-image-north-york-moors {
  height: 700px;
  background-image: url("./images/north_york_moors.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 65%;
  overflow: hidden;
}
.hero-image-yorkshire-coast {
  height: 700px;
  background-image: url("./images/yorkshire_coast.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 55%;
  overflow: hidden;
}
.hero-image-lake-district {
  height: 700px;
  background-image: url("./images/lake_district.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 60%;
  overflow: hidden;
}
.hero-image-peak-district {
  height: 700px;
  background-image: url("./images/peak_district.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 40%;
  overflow: hidden;
}
.hero-image-wales {
  height: 700px;
  background-image: url("./images/wales.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 91%;
  overflow: hidden;
}
.hero-image-northumberland {
  height: 700px;
  background-image: url("./images/northumberland.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 60%;
  overflow: hidden;
}
.hero-image-cornwall {
  height: 700px;
  background-image: url("./images/cornwall.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 100%;
  overflow: hidden;
}
.tours-top-banner {
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

.tours-top-banner-info{
  display: inline-block;
  font-family: "Barlow Condensed";
  color: rgb(14, 126, 126);
  background-color: rgba(238, 238, 238, 0.884);
  text-align: left;
  text-transform: uppercase;
  margin-left: 5%;
  padding: 10px 10px 15px 15px;
  font-size: 24px;
  width: 300px;
}
}


#whitespace {
  background-color: white;
  height:30px;
  width: 100%;
}
#whitespace-short {
  background-color: white;
  height:10px;
  width: 100%;
}


li {
  list-style: none;
}

.barlow-condensed-thin {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.barlow-condensed-extralight {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.barlow-condensed-light {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.barlow-condensed-regular {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-condensed-medium {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-condensed-semibold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.barlow-condensed-bold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.barlow-condensed-extrabold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.barlow-condensed-black {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.barlow-condensed-thin-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.barlow-condensed-extralight-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.barlow-condensed-light-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.barlow-condensed-regular-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.barlow-condensed-medium-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.barlow-condensed-semibold-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.barlow-condensed-bold-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.barlow-condensed-extrabold-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.barlow-condensed-black-italic {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.oswald-regular> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 15px;
  font-style: normal;
}

.tours-container {
  background-color: white;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3.5rem;
}

.tours-thumbnail-box{
  width: 400px;
  height: 250px;
  padding: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.tours-thumbnail-box-small{
  width: 300px;
  height: 187px;
  padding: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.tours-title {
  font-family: "Barlow Condensed";
  color: #303236;
  background-color: rgba(238, 238, 238, 0.884);
  text-align: left;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 5px;
  font-size: 24px;
}

.tours-title-small {
  font-family: "Barlow Condensed";
  color: #303236;
  background-color: rgba(238, 238, 238, 0.884);
  text-align: left;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 5px;
  font-size: 20px;
}

.tours-top-banner-info-title{
  display: inline-block;
  color: #393E46;
  padding-top: 5px;
  margin-left: 5px;
  
}

.writeup-title {
  font-family: "Barlow Condensed";
  font-size: 40px;
  text-align: left; 
  color: #303236;
}

.writeup-text {
  font-family: "Barlow Condensed";
  font-size: 20px;
  text-align: left; 
  color: black;
}

.tours-yorkshire_dales_2025_03_penhill {
  background-image: url("./images/yorkshire_dales_2025_03_penhill_profilepic.jpg");
  background-position: center 5%;
}
.tours-yorkshire_dales_2024_08_semerwater {
  background-image: url("./images/yorkshire_dales_2024_08_semerwater_profilepic.jpg");
  background-position: center 95%;
}
.tours-yorkshire_dales_2024_08_aysgarth_falls {
  background-image: url("./images/yorkshire_dales_2024_08_aysgarth_falls_profilepic.jpg");
  background-position: center center;
}
.tours-yorkshire_dales_2023_08_cauldron_falls {
  background-image: url("./images/yorkshire_dales_2023_08_cauldron_falls_profilepic.jpg");
  background-position: center center;
}
.tours-yorkshire_dales_2022_09_surrender_mine {
  background-image: url("./images/yorkshire_dales_2022_09_surrender_mine_profilepic.jpg");
  background-position: center center;
}
.tours-yorkshire_dales_2022_07_malham_cove {
  background-image: url("./images/yorkshire_dales_2022_07_malham_cove_profilepic.jpg");
  background-position: center center;
}
.tours-yorkshire_dales_2023_08_jervaulx_abbey {
  background-image: url("./images/yorkshire_dales_2023_08_jervaulx_abbey_profilepic.jpg");
  background-position: center center;
}
.tours-yorkshire_dales_2023_08_preston_under_scar {
  background-image: url("./images/yorkshire_dales_2023_08_preston_under_scar_profilepic.jpg");
  background-position: center center;
}
.tours-yorkshire_dales_2023_07_egglestone_abbey {
  background-image: url("./images/yorkshire_dales_2023_07_egglestone_abbey_profilepic.jpg");
  background-position: center center;
}
.tours-yorkshire_dales_2022_09_healaugh {
  background-image: url("./images/yorkshire_dales_2022_09_healaugh_profilepic.jpg");
  background-position: center center;
}
.tours-yorkshire_dales_2022_08_keld_waterfalls {
  background-image: url("./images/yorkshire_dales_2022_08_keld_waterfalls_profilepic.jpg");
  background-position: center center;
}
.tours-yorkshire_dales_2022_07_druids_temple {
  background-image: url("./images/yorkshire_dales_2022_07_druids_temple_profilepic.jpg");
  background-position: center center;
}
.tours-yorkshire_dales_2022_05_easby_abbey {
  background-image: url("./images/yorkshire_dales_2022_05_easby_abbey_profilepic.jpg");
  background-position: center center;
}
.tours-yorkshire_dales_2019_08_fountains_abbey {
  background-image: url("./images/yorkshire_dales_2019_08_fountains_abbey_profilepic.jpg");
  background-position: center center;
}
.tours-yorkshire_dales_2019_09_white_scar_cave {
  background-image: url("./images/yorkshire_dales_2019_09_white_scar_cave_profilepic.jpg");
  background-position: center center;
}
.tours-yorkshire_dales_2019_09_buttertubs {
  background-image: url("./images/yorkshire_dales_2019_09_buttertubs_profilepic.jpg");
  background-position: center center;
}
.tours-yorkshire_dales_2024_05_middleham_castle {
  background-image: url("./images/yorkshire_dales_2024_05_middleham_castle_profilepic.jpg");
  background-position: center center;
}



.tours-yorkshire_coast_2025_01_saltburn {
  background-image: url("./images/yorkshire_coast_2025_01_saltburn_profilepic.jpg");
  background-position: center center;
}
.tours-yorkshire_coast_2024_02_runswick_bay_to_staithes {
  background-image: url("./images/yorkshire_coast_2024_02_runswick_bay_to_staithes_profilepic.jpg");
  background-position: center center;
}
.tours-yorkshire_coast_2024_08_saltburn_trig_point {
  background-image: url("./images/yorkshire_coast_2024_08_saltburn_trig_point_profilepic.jpg");
  background-position: center center;
}
.tours-yorkshire_coast_2023_02_kettleness {
  background-image: url("./images/yorkshire_coast_2023_02_kettleness_profilepic.jpg");
  background-position: center center;
}

.tours-peak_district_2024_08_bomber {
  background-image: url("./images/peak_district_2024_08_bomber_profilepic.jpg");
  background-position: center center;
}

.tours-wales_2024_09_monmouth_river_walk {
  background-image: url("./images/wales_2024_09_monmouth_river_walk_profilepic.jpg");
  background-position: center center;
}
.tours-wales_2024_06_devils_kitchen {
  background-image: url("./images/wales_2024_06_devils_kitchen_profilepic.jpg");
  background-position: center 1%;
}
.tours-wales_2024_06_porth_wen {
  background-image: url("./images/wales_2024_06_porth_wen_profilepic.jpg");
  background-position: center 95%;
}
.tours-wales_2024_06_aber_falls {
  background-image: url("./images/wales_2024_06_aber_falls_profilepic.jpg");
  background-position: center 1%;
}
.tours-wales_2023_09_monmouth {
  background-image: url("./images/wales_2023_09_monmouth_profilepic.jpg");
  background-position: center center;
}
.tours-wales_2023_01_monmouth {
  background-image: url("./images/wales_2023_01_monmouth_profilepic.jpg");
  background-position: center center;
}

.tours-wales_2021_10_elan_valley {
  background-image: url("./images/wales_2021_10_elan_valley_profilepic.jpg");
  background-position: center center;
}


.tours-north_york_moors_2024_11_lordstones_loop {
  background-image: url("./images/north_york_moors_2024_11_lordstones_loop_profilepic.jpg");
  background-position: center 40%;
}
.tours-north_york_moors_2024_08_lordstones_big_loop {
  background-image: url("./images/north_york_moors_2024_08_lordstones_big_loop_profilepic.jpg");
  background-position: center 40%;
}
.tours-north_york_moors_2024_07_lordstones_small_loop {
  background-image: url("./images/north_york_moors_2024_07_lordstones_small_loop_profilepic.jpg");
  background-position: center 40%;
}
.tours-north_york_moors_2024_05_castleton {
  background-image: url("./images/north_york_moors_2024_05_castleton_profilepic.jpg");
  background-position: center center;
}
.tours-north_york_moors_2024_06_danby {
  background-image: url("./images/north_york_moors_2024_06_danby_profilepic.jpg");
  background-position: center center;
}
.tours-north_york_moors_2024_08_lordstones_peaks {
  background-image: url("./images/north_york_moors_2024_08_lordstones_peaks_profilepic.jpg");
  background-position: center 1%;
}
.tours-north_york_moors_2023_09_bilsdale {
  background-image: url("./images/north_york_moors_2023_09_bilsdale_profilepic.jpg");
  background-position: center 1%;
}
.tours-north_york_moors_2023_08_chop_gate_urra {
  background-image: url("./images/north_york_moors_2023_08_chop_gate_urra_profilepic.jpg");
  background-position: center 1%;
}
.tours-north_york_moors_2023_07_rosedale_big_loop {
  background-image: url("./images/north_york_moors_2023_07_rosedale_big_loop_profilepic.jpg");
  background-position: center 1%;
}
.tours-north_york_moors_2023_06_blakey_loop {
  background-image: url("./images/north_york_moors_2023_06_blakey_loop_profilepic.jpg");
  background-position: center 1%;
}
.tours-north_york_moors_2023_07_rosedale_loop {
  background-image: url("./images/north_york_moors_2023_07_rosedale_loop_profilepic.jpg");
  background-position: center 1%;
}
.tours-north_york_moors_2023_07_rosedale_loop_short {
  background-image: url("./images/north_york_moors_2023_07_rosedale_loop_short_profilepic.jpg");
  background-position: center 1%;
}
.tours-north_york_moors_2023_06_rievaulx_abbey {
  background-image: url("./images/north_york_moors_2023_06_rievaulx_abbey_profilepic.jpg");
  background-position: center 1%;
}
.tours-north_york_moors_2023_05_wharrampercy {
  background-image: url("./images/north_york_moors_2023_05_wharrampercy_profilepic.jpg");
  background-position: center 35%;
}
.tours-north_york_moors_2018_07_helmsley_castle {
  background-image: url("./images/north_york_moors_2018_07_helmsley_castle_profilepic.jpg");
  background-position: center 35%;
}

.tours-lake_district_2023_04_iona_cottage {
  background-image: url("./images/lake_district_2023_04_iona_cottage_profilepic.jpg");
  background-position: center center;
}
.tours-lake_district_2022_07_priests_hole {
  background-image: url("./images/lake_district_2022_07_priests_hole_profilepic.jpg");
  background-position: center 5%;
}
.tours-lake_district_2023_04_haweswater {
  background-image: url("./images/lake_district_2023_04_haweswater_profilepic.jpg");
  background-position: center 5%;
}


.tours-northumberland_2022_09_rothbury_restawhile {
  background-image: url("./images/northumberland_2022_09_rothbury_restawhile_profilepic.jpg");
  background-position: center center;
}
.tours-northumberland_2021_09_castles_and_wall {
  background-image: url("./images/northumberland_2021_09_castles_and_wall_profilepic.jpg");
  background-position: center 20%;
}
.tours-northumberland_2018_08_holy_island {
  background-image: url("./images/northumberland_2018_08_holy_island_profilepic.jpg");
  background-position: center 1%;
}
.tours-northumberland_2018_08_belsay_hall {
  background-image: url("./images/northumberland_2018_08_belsay_hall_profilepic.jpg");
  background-position: center 60%;
}
.tours-northumberland_2019_06_bamburgh_castle {
  background-image: url("./images/northumberland_2019_06_bamburgh_castle_profilepic.jpg");
  background-position: center 40%;
}
.tours-northumberland_2019_08_alnwick_castle {
  background-image: url("./images/northumberland_2019_08_alnwick_castle_profilepic.jpg");
  background-position: center 40%;
}


.tours-teesdale_2018_09_high_force {
  background-image: url("./images/teesdale_2018_09_high_force_profilepic.jpg");
  background-position: center center;
}

.tours-cornwall_2018_07 {
  background-image: url("./images/cornwall_2018_07_profilepic.jpg");
  background-position: center 15%;
}
.tours-cornwall_2019_06 {
  background-image: url("./images/cornwall_2019_06_profilepic.jpg");
  background-position: center center;
}


.tours-durham_2021_05_hurworth_burn_reservoir {
  background-image: url("./images/durham_2021_05_hurworth_burn_reservoir_profilepic.jpg");
  background-position: center center;
}


.imagecarousel {
  position: relative;
  height: 300px;
  margin-bottom: 30px;
  display: flex;
  width: fit-content;
  gap: 20px;
}

.imagecarousel img {
  margin: 0px 0px;
  box-shadow: 2px 2px 8px #8a8a8a;
}

.imagecarousel {
  animation: bannermove 30s linear infinite;
}

@keyframes bannermove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

#myInput {
  align-items: center;
  background-image: url('./images/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 14px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 300px; /* Full-width */
  font-family: "Barlow Condensed";
  font-size: 22px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 2px solid #ddd; /* Add a grey border */
  margin-bottom: 30px; /* Add some space below the input */
}

#myUL {
  /* Remove default list styling */
  background-color: white;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0%;
  list-style-type: none;
  margin: 0;
}

#myUL li a {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0%;
  list-style-type: none;
  margin: 0;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px; /* Add some padding */
  gap: 5px;
  text-decoration: none; /* Remove default text underline */
  color: black; /* Add a black text color */
  
}
